@model ASP.net_MVC_3.Models.T_Students

@{
    string name = Model.Name + " " + Model.Family;
    ViewBag.Title = "حذف" + " " + name;
}

<div class="jumbotron text-center">
    <h3>حذف @name</h3>
</div>

<div class="form-row">

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Family)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Family)
        </div>
    </div>
</div>
<br />

<div class="form-row">

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Age)
        </div>
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
</div>
<br />

<div class="form-row">
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.RegisterDate)
        </div>
    </div>
</div>
<br />

<div class="form-row">

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.IsActive)
        </div>
        <div class="form-control">
            @if (Model.IsActive == true)
            {
                <span style="color:green">فعال</span>
            }
            else
            {
                <span style="color:red">غیر فعال</span>
            }
        </div>
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Gender)
        </div>
        <div class="form-control">
            @if (Model.Gender == true)
            {
                <span>مرد</span>
            }
            else
            {
                <span>زن</span>
            }
        </div>
    </div>
</div>
<br />

<div class="form-row">

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Image)
        </div>
        <img src="~/Image/ProfileName/@Model.Image" style="width:120px; height:120px" />
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.NationalCode)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.NationalCode)
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
		    <div class="form-actions" style="float: left !important; margin-top: 15px !important; margin-bottom: 15px !important; ">
        @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-primary" }) |
        <input type="submit" value="حذف @name" class="btn btn-danger" />
    </div> 
}
