@model ASP.net_MVC_3.Models.T_Students

@{
    string name = Model.Name + " " + Model.Family;
    ViewBag.Title = "اطلاعات کاربر" + name;
    string ImageDefult = "user.png";
}

<div class="jumbotron">
    <h2 class="text-center">اطلاعات @name</h2>
</div>

<!-- #region name & family -->

<div class="form-row">
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Family)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Family)
        </div>
    </div>
</div>
<br />

<!-- #endregion -->
<!-- #region age & phone -->

<div class="form-row">
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Age)
        </div>
    </div>
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
</div>
<br />

<!-- #endregion -->
<!-- #region emai; & registerdate -->

<div class="form-row">
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.RegisterDate)
        </div>
    </div>
</div>
<br />

<!-- #endregion -->
<!-- #region isActive & gender -->

<div class="form-row">
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.IsActive)
        </div>
        <div class="form-control">
            @if (Model.IsActive == true)
            {
                <span style="color : green">فعال</span>
            }
            else
            {
                <span style="color : red">مسدود</span>
            }
        </div>
    </div>
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.Gender)
        </div>
        <div class="form-control">
            @if (Model.Gender == true)
            {
                <span>مرد</span>
            }
            else
            {
                <span>زن</span>
            }
        </div>
    </div>
</div>
<br />

<!-- #endregion -->
<!-- #region image & nationalCode -->

<div class="form-row">
    <div class="col">
        <div>
            @Html.DisplayNameFor(model => model.Image)
        </div>
        <div>
            @if (Model.Image != ImageDefult)
            {
                ImageDefult = Model.Image;
                <img src="~/Image/ProfileName/@ImageDefult" style="width:100px; height:100px;" />
            }
            else
            {
                <img src="~/Image/ProfileName/@ImageDefult" style="width:100px; height:100px;" />
            }
        </div>
    </div>
    <div class="col">
        <div class="form-label">
            @Html.DisplayNameFor(model => model.NationalCode)
        </div>
        <div class="form-control">
            @Html.DisplayFor(model => model.NationalCode)

        </div>
    </div>
</div>
<br />

<!-- #endregion -->
<!-- #region submit -->
<div class="form-group" style="float : left !important; margin-top: 15px !important; margin-bottom: 15px !important;">
    @Html.ActionLink("بازگشت به لیست دانشجویان", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("ویرایش اطلاعات" + " " + name, "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
</div>
<!-- #endregion -->