@model ASP.net_MVC_3.Models.T_Students

@{
    string name = Model.Name + " " + Model.Family;
    ViewBag.Title = "ویرایش" + " " + name;
}

<div class="jumbotron text-center">
    <h3>ویرایش @name</h3>
</div>

@using (Html.BeginForm("Edit","Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.RegisterDate)
    @Html.HiddenFor(model => model.Image)


    #region name & family
    <div class="form-row">

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Family, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    #endregion

    #region age & phone
    <div class="form-row">

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

    </div>
    <br />

    #endregion

    #region nationalCode & email
    <div class="form-row">

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.NationalCode, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "text-danger" })
        </div>

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    #endregion

    #region gender & isActive
    <div class="form-row">

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
            </div>
            <select id="Gender" name="Gender" class="form-control">
                @if (Model.Gender == true)
                {
                    <option value="true" selected>مرد</option>
                    <option value="false">زن</option>
                }
                else
                {
                    <option value="true">مرد</option>
                    <option value="false" selected>زن</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            </div>
            <select id="IsActive" name="IsActive" class="form-control">
                @if (Model.IsActive == true)
                {
                    <option style="color:green" value="true" selected>فعال</option>
                    <option style="color:red" value="false">غیر فعال</option>
                }
                else
                {
                    <option style="color:green" value="true">فعال</option>
                    <option style="color:red" value="false" selected>غیر فعال</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>

    </div>
    <br />

    #endregion

    #region image & changeImage
    <div class="form-row">

        <div class="col">
            <div class="form-label">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
            </div>
            <img src="~/images/@Model.Image" style="width:120px; height:120px" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>

        <div class="col">
            <div class="form-label">
                <label class="control-label">
                    تغییر تصویر پروفایل
                </label>
            </div>
            <input type="file" id="imageUpload" name="imageUpload" class="form-control" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    #endregion


<div class="form-group" style="float:left !important; margin-top:30px !important; margin-bottom:20px !important">
    @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-primary" }) |
    <input type="submit" value="ذخیره تغییرات" class="btn btn-warning" />
</div>
}


