@model IEnumerable<ASP.net_MVC_3.Models.T_Students>

@{
    ViewBag.Title = "کاربران";
    int count = 100;
}

<h2>لیست دانشجویان</h2>

<table class="table">
    <tr>
        <th>ردیف</th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <span style="color : green">فعال</span>
                }
                else
                {
                    <span style="color : red">مسدود</span>
                }
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("جزییات", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        count++;
    }

</table>
<p>
    @Html.ActionLink("اضافه کردن دانشجوی جدید", "Create", new { @class = "btn btn-success" })
</p>