@model IEnumerable<ASP.net_MVC_3.Models.T_Students>

@{
    ViewBag.Title = "کاربران";
    int count = 100;
}

    <div class="jumbotron">
        <h2 class="text-center">لیست دانشجویان</h2>
    </div>

    <table class="table">
        <!-- #region tr th -->

        <tr>
            <th>ردیف</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        </tr>

        <!-- #endregion -->
        <!-- #region foreach tr td -->

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @if (item.Gender == true)
                    {
                        <span>آقای </span>
                    }
                    else
                    {
                        <span>خانم </span>
                    }

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span style="color : green">فعال</span>
                    }
                    else
                    {
                        <span style="color : red">مسدود</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("جزییات", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
            count++;
        }

        <!-- #endregion -->

    </table>
    <div class="form-group" style="float : left !important; margin-top: 15px !important; margin-bottom: 15px !important;">
        @Html.ActionLink("اضافه کردن دانشجوی جدید", "Create", null, new { @class = "btn btn-success" })
    </div>